*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Customerservice{
    background-color: #fff;
    margin-bottom: 3em;
    min-height: 80vh;
    position: relative;
}
.Customerservice h3{
    color: red;
    font-size: 15px;
}
.Customerservice h1{
    color: black;
}
.cus{
    color: slategray;
    width: 60%;
    max-width: 60%;
    height: 100%;
    margin: 5rem auto;
    display: grid;
    gap: 4rem;
}
.cuscards img{
    width: 50%;
    height: 10em;
    border-radius: 50%;
}
.cuscards h1{
    color: gray;
}
@media screen and (min-width:960px) {
    .cus{
        grid-template-columns: repeat(3,1fr);
    }   
    .style{
        margin-bottom: 1em;
    }
}
.cuscards{
    background: rgb(238, 235, 235);
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 2px 1px white;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.cuscards:hover {
    box-shadow: 0 5px 15px gray;
    transition: box-shadow 0.3s ease-in-out;
    background-color: whitesmoke;
    color: blue;
  }
.cuscards h1{
    margin-top: 1rem;
}
.cuscards h1:hover{
    margin-top: 1rem;
    color: red;
}
.cuscards p{
    margin-top: 2rem;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cuscards button{
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
}


.custom-shape-divider-bottom-1641480908 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641480908 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 237px;
}

.custom-shape-divider-bottom-1641480908 .shape-fill {
    fill: black;
}
.custom-shape-divider-bottom-1641418353 .shape-fill {
    fill: black;
}