<%- include('header'); -%>
<div class="container">
    <nav>
    <div class="profile">
        <div class="img">👦</div>
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        <a href="/logout">Log Out</a>
        <a href="/">Home</a>
    </div>
</nav>
</div>
<%- include('footer'); -%>