<%- include('header'); -%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NewVile Car Rental</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1>New Vile</h1>
    <form action="/car/rent/" method="POST" enctype="multipart/form-data">
      <h3>Rent out your Car</h3>
      <div class="details">
        <label>Car Name</label>
        <input type="text" placeholder="name" name="car_name" required/>
        <label>Category</label>
        <select required name="category" id="cars" class="cat">
            <option value="casual">Casual</option>
            <option value="SVG">Sports Car (SVG)</option>
            <option value="trucks">Trucks</option>
            <option value="pick-up">Pick-up</option>
            <option value="convertible">Convertible</option>
          </select>

        <label>Fuel Type</label>
        <select name="car_fuel" required id="cars">

          <option value="petrol">Petrol</option>
          <option value="diesel">Diesel</option>
          <option value="cng">CNG</option>
        </select>

      <label>Price per day ($)</label>
      <input type="number" name="cost" required min="1"/>

      <label>Seat capacity</label>
      <input type="number" placeholder="number" min="1" required name="seat_no"/>
      </div>
      <div class="form-group">
        <label for="mob_no" class="col-md-3 control-label">Vehicle-Image</label>
        <div class="col-sm-9">
            <input class="form-control" type="file" name="uploaded_image" accept=""/>
        </div>
    </div> 
          <div class="sub">
          <input type="submit" name="submit"/>
          </div>
        </div>
        
    </form>

  </div>
<%- include('footer'); -%>