.page{
    min-height: 100vh;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2em;
    background-image: url('car6.jpg');
    object-fit: contain;
}
.rent h1{
    margin-bottom: 6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.5;
    color: rgb(90, 89, 89);
}
.rent1 h1{
    margin-bottom: 0.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.5;
    color: rgb(90, 89, 89);
}
.first h1{
    font-size: 45px;
    margin-bottom: 1em;
    color: red;
}
.second h2{
    font-size: 32px;
    color: #fff;
}

.floating-icon{
    background-color: darkblue;
    width: 5rem;
    height: 5rem;
    margin-bottom: 15em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    cursor: pointer;
}

.floating-icon a{
    border: 1px solid #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse{
    transform: translateY(-25%);
    animation: bounce .8s ease infinite alternate;
}
@keyframes bounce {
    0%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(25%);
    }
}

.custom-shape-divider-bottom-1638974829 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638974829 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 311px;
}

.custom-shape-divider-bottom-1638974829 .shape-fill {
    fill: rgba(0, 0, 0, 0.911);
}
@media screen and (max-width: 1110px) {
    .page{
        text-align: center;
        justify-content: center;
    }
  }
  @media screen and (max-width: 910px) {
    .page{
        text-align: center;
        justify-content: center;
    }
  }
  @media screen and (max-width: 810px) {
    .page{
        text-align: center;
        justify-content: center;
    }
  }
  @media screen and (max-width: 375px){
    .page{
        text-align: center;
        justify-content: center;
    }
  }