.footers{
    color: #fff;
    min-height: 9vh;
    background-color: rgb(22, 11, 11);
}
.footer1{
    float: left;
    width: 50%;
    font-size: 20px;
    font-family: cursive;
}
.footer2{
    float: right;
    width: 50%;
}
@media screen and(max-width: 960px){
    .footers{
        display: flex;
        position: relative;
        margin-top: 10em;
        justify-content: center;
        text-align: center;
    }
}
@media screen and(max-width: 1400px){
    .footers{
        display: flex;
        position: relative;
        margin-top: 10em;
        justify-content: center;
        text-align: center;
    }
}