*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    margin-top: -5rem;
    background-color: #fff;
    margin-bottom: 3em;
}
.content{
    color: slategray;
    width: 60%;
    max-width: 60%;
    height: 100%;
    margin: 5rem auto;
    display: grid;
    gap: 4rem;
}
@media screen and (min-width:960px) {
    .content{
        grid-template-columns: repeat(3,1fr);
    }    
}
.project1{
    background: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 2px 1px white;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.project1:hover {
    box-shadow: 0 5px 15px rgba(75, 63, 63, 0.705);
    transition: box-shadow 0.3s ease-in-out;
  }
  .project1 btn:hover{
      color: red;
  }
.project1 h1{
    margin-top: 1rem;
}
.project1 p{
    margin-top: 2rem;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.project1 button{
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
}
.btn1{
    border: 1px solid red;
    background: transparent;
    padding: 4px 10px;
    font-size: 1.5rem;
    color: red;
    background: whitesmoke;
    margin-bottom: 4rem;
    border-radius: 50%;
}
.btn1:hover{
    color: white;
    background: red;
}