/* .Header{
    position: relative;
    margin-top: -3em;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(2, 6, 19, 0.966);
    min-height: 100vh;
    
}
.header1{
    color: #fff;
    float: left;
    width: 50%; 
}
.header1  img{
    width: 100vh;
    height: 90vh;
    border-radius: 60%;
}
.header2{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 27%;
    float: right;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid whitesmoke;
    border-width: 1em;
    margin-right: 20em;
}
.header1 h1{
    color: red;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header2 h1{
    color: #fff;
    font-size: 27px;
}
.header1 p{
    color: #fff;
    font-size: 25px;
    margin-top: 1em;
}
.header2 label{
    font-size: 12px;
    margin-bottom: 1em;
    color: red;
    width: 28%;
}
.header2 input{
    background-color: transparent;
    color: black;
    height:3.5em;
    margin-bottom: 1em;
    font-size: 10px;
    width: 33em;
    font-size: 11px;
}
.header2 Select{
    width: 50em;
    height: 3.5em;
    margin-bottom: 2em;
}
.header2 button{
    margin-top: 1em;
    width: 20%;
    height:3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    background-color: red;
    color: #fff;
    margin-bottom: 1em;
 }

@media screen and (max-width: 1400px){
    .Header{
        display: grid;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .header1{
        width: 50%;
        left: -100%;
    }
    .header1 img{
        width: 100%;
        height: 60vh;
    }
    .header2 input{
      width: 100%;  
    }
    .header2{
        margin-bottom: 16em;
        width: 50%;
    }
}
@media screen and (max-width: 1100px) {
    .Header{
        display: grid;
        position: relative;
    }
    .header1{
        width: 50%;
        left: -100%;
        align-items: center;
        justify-content: center;
    }
    .header1 img{
        width: 100%;
        height: 60vh;
    }
    .header2 input{
      width: 100%;  
    }
    .header2{
        margin-bottom: 16em;
        width: 50%;
        margin-left: 20em;
    }
  }
@media  screen and (max-width: 960px) {
   .Header{
    display: grid;
    position: relative;
   }
   .header1{
    width: 78%;
    left: -100%;
    align-items: center;
    justify-content: center;
   }
   .header1 img{
    width: 95%;
    height: 60vh;
   }
   .header2 input{
    width: 100%;  
   }
   .header2{
    margin-bottom: 10em;
    width: 50%;
    margin-right: 50em;
   }
   .custom-shape-divider-bottom-1638880450 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638880450 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1638880450 .shape-fill {
    fill: darkblue;
} 
}
@media  screen and (max-width: 450px) {
   .header{
    display: grid;
    position: relative;
   }
} */


/* Abillities*/

.feature{
    width: 100%;
    padding: 70px 0;
    background-color: rgb(31, 23, 23);
    color: #fff;
    position: relative;
    min-height: 100vh;
}
.title-text{
        text-align: center;
        padding-bottom: 40px;
    }
    .title-text p{
        margin: auto;
        font-size: 30px;
        color: blue;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
    }
    .title-text p::after{
        content: '';
        width: 50px;
        height: 35px;
        background: linear-gradient(orangered, blue);
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
        transform: rotate(10deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    .title-text h1{
        font-size: 35px;
        color: #fff;
    }
    
    .feature-box{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .features{
        flex-basis: 50%;
    }
    .features-img{
        flex-basis: 50%;
        margin: auto;
    }
    .features-img img{
        width: 100%;
        border-radius: 50%;
    }
    .features h1{
        text-align: left;
        margin-bottom: 20px;
        font-weight: 100;
        color: aqua;
    
    }
    .header2{
        margin-top: 0em;
        display: flex;
        flex-direction: column;
        width: 65%;
        float: right;
        align-items: center;
        background-color: #fff;
        border-radius: 2px;
        margin-left: 8em;
        border: 1px solid whitesmoke;
        border-width: 1em;
        
        justify-content: center;
    }
    .header2 h1{
        color: blue;
        font-size: 27px;
    }
    .header2 label{
        font-size: 12px;
        margin-bottom: 1em;
        color: green;
        width: 28%;
    }
    .header2 input{
        background-color: transparent;
        color: black;
        height:3.5em;
        margin-bottom: 1em;
        font-size: 10px;
        width: 33em;
        font-size: 11px;
    }
    .header2 Select{
        width: 50em;
        height: 3.5em;
        margin-bottom: 2em;
    }
    .header2 button{
        margin-top: 1em;
        width: 20%;
        height:3em;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0%;
        background-color: blue;
        color: #fff;
        margin-bottom: 1em;
     }
    
    .features-desc{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }
    .AboutDown1{
        margin-bottom: 0em;
        color: black;
    }
    .feature-icon .fas{
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        border-radius: 8px;
        color: red;
        border: 1px solid blue;
    }
    .feature-icon .fab{
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        border-radius: 8px;
        color: blue;
        border: 1px solid blue;
    }
    .feature-text p{
        font-size: 15px;
        padding: 0 20px;
        text-align: initial;
    }
    .custom-shape-divider-bottom-1641478656 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1641478656 svg {
        position: relative;
        display: block;
        width: calc(150% + 1.3px);
        height: 175px;
    }
    
    .custom-shape-divider-bottom-1641478656 .shape-fill {
        fill: rgb(5, 48, 83);
    }
    
    @media  screen and (max-width: 768px) {
        .title-text h1{
            font-size: 35px;
        }
        .features{
            flex-basis: 100%;
        }
        .features img{
            flex-basis: 100%;
        }
        .features-img img{
            width: 100%;
        }
    }
    @media  screen and (max-width: 960px) {
        .title-text h1{
            font-size: 35px;
        }
        .feature{
            flex-basis: 100%;
        }
        .features img{
            flex-basis: 100%;
        }
        .features-img img{
            width: 100%;
        }
        .AboutDown1{
            margin-bottom: 0em;
            color: black;
        }
        .header2{
            margin-left: 0em;
            width: 100%;
        }
    }
  