.head1{
    background-color: rgb(5, 48, 83);
    min-height: 25vh;
    position: relative;
}
.head1 h1{
    color: red;
}
.head1 p{
    color: #fff;
} 
@media screen and (max-width: 960px){
    .head1{
        flex-direction: column;
        justify-content: center;   
        position: relative;
        background-color: rgb(5, 48, 83);
    }
    .head1 p {
        margin-bottom: 2em;
    }
}